<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>esercizio-servlet</display-name>
  <servlet>
  	<servlet-name>visualizza</servlet-name>
  	<servlet-class>it.objectmethod.esercizio.servlets.VisualizzaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>visualizza</servlet-name>
  	<url-pattern>/Visualizza</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>add</servlet-name>
  	<servlet-class>it.objectmethod.esercizio.servlets.AddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>add</servlet-name>
  	<url-pattern>/AddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>delete</servlet-name>
  	<servlet-class>it.objectmethod.esercizio.servlets.DeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>delete</servlet-name>
  	<url-pattern>/DeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>getUpdate</servlet-name>
  	<servlet-class>it.objectmethod.esercizio.servlets.GetUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>getUpdate</servlet-name>
  	<url-pattern>/GetUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>setUpdate</servlet-name>
  	<servlet-class>it.objectmethod.esercizio.servlets.SetUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>setUpdate</servlet-name>
  	<url-pattern>/SetUpdate</url-pattern>
  </servlet-mapping>
</web-app>